main > div {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
main .card {
    min-width: fit-content;
    width: 90%;
    max-width: 500px;
    height: fit-content;
    margin: 10px 40px;
}
i.fas.fa-chevron-right {
    margin-top: 5px;
    float: right;
}
.list-group-item-assign {
    width: 30%;
    display: inline-block;
}
