main > form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
main > form > * {
    margin-top: 12.5px;
    margin-left: 10px;
}
.searchBar {
    width: 90%;
    max-width: 300px;
}
main > div {
    display: flex;
    justify-content: center;
    overflow: auto;
}
.user:hover {
    background-color: lightgray;
    cursor: pointer;
}
