:root {
    --sidebar-width: 67px;
    --top-nav-height: 61px;
}
nav {
    pointer-events: initial;
}
#relative-content {
    margin-left: var(--sidebar-width);
    /*width: 100%;*/
    z-index: 1;
    min-height: calc(100vh - var(--top-nav-height));
    height: fit-content;
    width: calc(100% - var(--sidebar-width));
    position: relative;
}
@media screen and (max-width: 576px)
{
    #relative-content {
        margin-left: 0;
        width: 100%;
    }
}
header {
    z-index: 0;
    pointer-events: none;
}
nav:nth-child(1) {
    height: var(--top-nav-height);
    border-bottom: ridge 1px black;
    min-height: fit-content;
}
.navbar-brand img {
    height: var(--top-nav-height);
    width: var(--sidebar-width);
    position: absolute;
    top: 0;
}
nav:nth-child(2) {
    height: calc(100vh - var(--top-nav-height) + 8px);
    width: var(--sidebar-width);
}
main {
    margin-top: var(--top-nav-height);
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
}
.nav-item {
    cursor: pointer;
}
.sharp-corner {
    border-radius: 0 !important;
}
.separator {
    padding: 2px 0 6px 0;
}
