main div > .card {
    min-width: fit-content;
    width: 90%;
    max-width: 500px;
    height: fit-content;
    margin: 10px 40px;
}
main > div .text-center a {
    color: inherit;
}
main > div .text-center a:hover {
    color: inherit;
}
i.fas.fa-pen, i.fas.fa-times {
    cursor: pointer;
}
modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
modal > * {
    min-width: fit-content;
    width: 90%;
    max-width: 300px;
}
