:root {
    --project-side-margin: 50px;
}
main {
    padding: 10px 10px;
}
main > form > div#searchBar {
    width: 90%;
    max-width: 300px;
}
main > form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 5px;
}
main > div {
    margin: 40px;
    width: calc(100% - (40px * 2));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
main > div > div.card {
    width: 90%;
    max-width: 300px;
    margin: 10px 20px !important;
    cursor: pointer;
}
#pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
